* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  color: #54ff00;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}

.body {
}

.gameContainer {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid grey;
}

.gameGrid div {
  border: 1px solid grey;
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.gameUIContainer {
  margin-right: 50px;
}

.alien1 {
  background-image: url('images/sprite-sheet.png');
  background-size: 835px;
  background-position-x: -220px;
  background-position-y: -50px;
}

.alien2 {
  background-image: url('images/sprite-sheet.png');
  background-size: 835px;
  background-position-x: -105px;
  background-position-y: -50px;
}

.alien3 {
  background-image: url('images/sprite-sheet.png');
  background-size: 835px;
  background-position-x: 3px;
  background-position-y: -50px;
}

.player {
  background-image: url('images/sprite-sheet.png');
  background-size: 835px;
  background-position-x: -424px;
  background-position-y: -50px;
}

.fire {
  background-image: url('images/sprite-sheet.png');
  background-size: 835px;
  background-position-x: -620px;
  background-position-y: -126px;
}

.userMessage, .start {
  margin-top: 125px;
  font-size: 20px;
}

.start {
  padding: 10px;
  color: #54ff00;
  /* background-color: #54ff00; */
  font-weight: 800;
  border: 3px solid #54ff00;
  border-radius: 5px;
  cursor: pointer;
}
