* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', Helvetica, cursive;
}

body {
  background-color: black;
  font-family: sans-serif;
  color: #54ff00;
  padding-top: 10%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.gameContainer {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid #1e1e1e;
  border-radius: 5px;
}

.gameGrid div {
  /* border: 1px solid grey; */
  width: calc(100% / 15);
  height: calc(100% / 15);
}

.gameUIContainer {
  margin-right: 50px;
  margin-left: -170px;
}

.gameUIContainer div {
  margin-bottom: 50px;
}

.gameUIContainer div span {
  font-size: 26px;
}

.pop {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -487px;
  background-position-y: -96px;
}

.lifeLost {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -409px;
  background-position-y: -88px;
}

.fire {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -449px;
  background-position-y: -94px;
}

.player {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -308px;
  background-position-y: -36px;
}

.startMessages {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-size: 20px;
  top: 0;
  left: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gameLoad {
  background-color: #54ff00;
  color: #000;
}

.message {
  margin-top: 25px;
}

.start {
  padding: 20px;
  color: #54ff00;
  /* background-color: #54ff00; */
  font-weight: 800;
  border: 3px solid #54ff00;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 65px;
  text-align: center;
}

.start:hover {
  color: #000;
  background-color: #54ff00;
}

.userMessage {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.alien1[data-step="0"] {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -162px;
  background-position-y: -40px;
}

.alien1[data-step="1"] {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -198px;
  background-position-y: -40px;
}

.alien2[data-step="0"] {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -79px;
  background-position-y: -39px;
}

.alien2[data-step="1"] {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -116px;
  background-position-y: -39px;
}

.alien3[data-step="0"] {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -1px;
  background-position-y: -39px;
}

.alien3[data-step="1"] {
  background-image: url('images/sprite-sheet.png');
  background-size: 600px;
  background-position-x: -38px;
  background-position-y: -39px;
}
